# JWT from Pinata API keys service
PINATA_JWT = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlMjI3NDFhZC0wMDRiLTQ1MzItYjM1MS04NWUyYmQ4M2EwMGMiLCJlbWFpbCI6InRoZXJvc3NnYWxsb3dheUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6IkZSQTEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX0seyJpZCI6Ik5ZQzEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiYzVjYTEwZDliMmZiOGU3Y2ZhZWYiLCJzY29wZWRLZXlTZWNyZXQiOiJmZjY1NjU0MWJkNjFkNzcyNmIxYzEyZDMyNWMwODJjNGEwZTBmOGEyNjk1YjFjMzlkOThkZGYxMzJjMjc4NGZkIiwiaWF0IjoxNjc5NTA0NTU0fQ.bOirXR_btuVqz5twEsGN-kr3loChRxvySD-5wb-rzSI'
